body { 
    color: grey;
}
img {
    border-radius: 10px;
border-color: black;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    font-style: oblique;
}
.pointer {
    cursor: pointer;
}